In [50]:
# Anonymisera idrottarnas namn
import pandas as pd
import hashlib as hl

df = pd.read_csv("../Data/athlete_events.csv")
#df["Name"] = df["Name"].astype(str)
#df["Name"] = df["Name"].apply(lambda athlete_name: hl.sha256(athlete_name.encode()).hexdigest())
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [51]:
hungary = pd.read_csv("../Data/athlete_events.csv")

hungary = hungary[ hungary["NOC"]=="HUN" ]
hungary.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
208,99,Pter Abay,M,30.0,181.0,79.0,Hungary,HUN,1992 Summer,1992,Summer,Barcelona,Fencing,"Fencing Men's Sabre, Team",Silver
209,100,Oszkr Abay-Nemes,M,22.0,NaN,NaN,Hungary,HUN,1936 Summer,1936,Summer,Berlin,Swimming,Swimming Men's 100 metres Freestyle,NaN
210,100,Oszkr Abay-Nemes,M,22.0,NaN,NaN,Hungary,HUN,1936 Summer,1936,Summer,Berlin,Swimming,Swimming Men's 4 x 200 metres Freestyle Relay,Bronze
884,507,Attila brahm,M,21.0,192.0,88.0,Hungary,HUN,1988 Summer,1988,Summer,Seoul,Canoeing,"Canoeing Men's Kayak Doubles, 500 metres",Bronze
885,507,Attila brahm,M,21.0,192.0,88.0,Hungary,HUN,1988 Summer,1988,Summer,Seoul,Canoeing,"Canoeing Men's Kayak Fours, 1,000 metres",Gold

In [ ]:
# Rensa bort så att det bara blir en medalj per gren
df.groupby(["Event","Year"])["Medal"].size()
df.groupby(["Year"])["Medal"].size()

In [ ]:
# See vilka år som har vinter OS
#df.groupby("Year")["Medal"].size()

# Could be used to calculate chance of medal for each year
df.groupby("Year")[["NOC","Medal"]].count()
df.groupby("Year")[["NOC","Medal"]].count()
#df[ df["NOC"] == "HUN"  ].count()

        NOC  Medal
Year
1896    380    143
1900   1936    604
1904   1301    486
1906   1733    458
1908   3101    831
1912   4040    941
1920   4292   1308
1924   5693    962
1928   5574    823
1932   3321    739
1936   7401   1025
1948   7480    987
1952   9358   1033
1956   6434   1043
1960   9235   1058
1964   9480   1215
1968  10479   1256
1972  11959   1414
1976  10502   1531
1980   8937   1602
1984  11588   1698
1988  14676   1845
1992  16413   2030
1994   3160    331
1996  13780   1842
1998   3605    440
2000  13821   2004
2002   4109    478
2004  13443   2001
2006   4382    526
2008  13602   2048
2010   4402    520
2012  12920   1941
2014   4891    597
2016  13688   2023